<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>SS1</h1>
<a th:href="@{/b1}">b1</a>
<a th:href="@{/b2}">b2</a>
<a th:href="@{/hello}">b3</a>
<a th:href="@{/b4}">b4</a>
<a th:href="@{/products}">b5-6-7-10</a>
<a th:href="@{/actuator/health}">b8</a>
<span>b9 -> product_management_doc.md</span>
</body>
</html>