<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{b1}">B1</a>
<a th:href="@{b2}">B2</a>
<a th:href="@{b3}">B3</a>
<a th:href="${'https://www.postman.com/test33-2729/ss5-java-web-service/request/s9slac7/new-request?tab=params'}">B4-6</a>
<a th:href="@{http://localhost:8080/api/v1/products/list.xml}">B5</a>
<a th:href="@{http://localhost:8080/swagger-ui/index.html}">B7-8-9-10</a>
</body>
</html>